body {
    margin: 0;
    padding: 40px;
    background-color: #87509c;
    font-family: Arial, sans-serif;
    color: white;
}

.nav-bari {
    height: 80px;
}

.logo {
    font-size: 35px;
    font-weight: bold;
    float: left;
}

.menu {
    float: right;
    margin-top: 10px;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    /* Kjo e bën ndryshimin e ngjyrës më të butë */
    transition: 0.3s;
}

/* Kjo e bën hoverin për krejt menunë */
.menu a:hover {
    background-color: #643a79;
}

.teksti-mes {
    text-align: center;
    padding-top: 150px;
    clear: both;
}

h1 {
    font-size: 35px;
    margin-bottom: 50px;
}

.butoni {
    background-color: #eb7d4b;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-bottom: 4px solid #c86a40;
    display: inline-block;
    transition: 0.3s;
}

/* Hoveri për butonin e madh portokalli */
.butoni:hover {
    background-color: #ff8a56;
}